body {
	background-color: #ffffff;
background-image: url("../img/swirl22.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	
}

.blackish {
	background-color: rgba(0,0,0,0.85);
}

.yellowish {
	background-color: rgba(255,190,29,0.3);
}

.blueish {
	background-color: rgba(15,170,239,0.3);
}

.redish {
	background-color: rgba(255,13,0,0.3);
}

.purpleish {
	background-color: rgba(125,63,103,0.3);
}

.navyish {
	background-color: rgba(10,47,101,0.3);
}

.greenish {
	background-color: rgba(54,199,70,0.3);
}

img {
	width: 100%;
	padding-top: 17%;
	padding-bottom: 13%
}

.wtext li {
	color: #ffffff;
	line-height: 1.5rem;
	list-style: none;
	text-decoration: none;
	float: center;
}

.info {
	margin-top: 6%;
	margin-left: -7%;
	margin-right: 3%;
}

.info li {
	text-align: center;
}


.hours {
	margin-top: 5%;
	margin-right: -5%;
}

.hours li {
	text-align: center;
}

h4 {
	margin-top: -0.5%;
	margin-left: 5px;

}


















