body {
	background-color: #ffffff;
background-image: url("../img/swirl22.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	
}

.blackish {
	background-color: rgba(0,0,0,0.85);
}

.yellow {
	background-color: rgba(255,190,29,0.3);
}

.blue {
	background-color: rgba(15,170,239,0.3);
}

.red {
	background-color: rgba(255,13,0,0.3);
}

.purple {
	background-color: rgba(125,63,103,0.3);
}

.navy {
	background-color: rgba(10,47,101,0.3);
}

.green {
	background-color: rgba(54,199,70,0.3);
}

img {
	width: 100%;
	padding-top: 17%;
	padding-bottom: 13%
}

.wtext li {
	color: #ffffff;
	list-style: none;
	text-decoration: none;
	float: center;

}